#cloud-config
hostname: ${hostname}

write_files:
  - path: /etc/rancher/k3s/config.yaml
    permissions: "0644"
    content: |
      token: ${join_token}
      server: https://${server_node_ip}:6443
      node-label: longhorn.io/node=true
  - path: /opt/mount-longhorn-drive.sh
    permissions: "0755"
    owner: root:root
    content: |
      #!/bin/bash
      set -ex
      DISK_PATH="/dev/sdb"
      MOUNT_PATH="/var/lib/longhorn"
      echo "Starting Longhorn disk setup for $DISK_PATH..."
      mkdir -p $MOUNT_PATH
      if ! blkid -o value -s TYPE $DISK_PATH; then
        echo "Disk $DISK_PATH is not formatted. Formatting with ext4..."
        mkfs.ext4 $DISK_PATH
      fi
      UUID=$(blkid -s UUID -o value $DISK_PATH)
      if ! grep -q "UUID=$UUID" /etc/fstab; then
        echo "Adding UUID=$UUID to /etc/fstab..."
        FSTAB_ENTRY="UUID=$UUID  $MOUNT_PATH  ext4  defaults,nofail  0  2"
        echo $FSTAB_ENTRY | tee -a /etc/fstab
      fi
      mount -a
      echo "Disk $DISK_PATH successfully mounted to $MOUNT_PATH."

users:
  - default
  - name: ${username}
    sudo: "ALL=(ALL) NOPASSWD:ALL"
    groups: users, admin
    ssh_authorized_keys:
      - ${ssh_key}
    shell: /bin/bash

chpasswd:
  expire: true
  users:
    - { name: "${username}", password: "${userpass}", type: text }
ssh_pwauth: false

package_update: true
package_upgrade: true

packages:
  - open-iscsi
  - nfs-common
  - cryptsetup
  - dmsetup
  - vim

runcmd:
  - curl -sfL https://get.k3s.io | sh -s - agent
  - /opt/mount-longhorn-drive.sh
  - reboot
