#cloud-config
hostname: ${hostname}
users:
  - default
  - name: ${username}
    sudo: "ALL=(ALL) NOPASSWD:ALL"
    groups: users, admin
    ssh_authorized_keys:
      - ${ssh_key}
    shell: /bin/bash

chpasswd:
  expire: false
  users:
    - { name: "${username}", password: "${userpass}", type: text }
ssh_pwauth: false

packages:
  - neovim
